:root {
  --color1: beige;
  --color2: red;
}

table {
    width: 100%;
}

tr {
    height: 80px;
    text-align: center;
}

.c1 {
    color: var(--color1);
    background-color: var(--color1);
}

.c2 {
    color: var(--color2);
    background-color: var(--color2);
}