.menu
{
	width: 100%;
	background-color: #00ff00;
	text-transform: uppercase;
	vertical-align: top;
	padding: 2%;
	text-align: center;
	font-size: 200%;
	margin-top: 3%; 
	word-spacing: 50px;
}
a:link
{
	color:white;
}
a:hover
{
	background-color: #00dd00;
	color: #ccffcc;
}
a:visited
{
	color:black;
}
a:active
{
	color:green;
	background-color: #00dd00;
}