.container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.container img {
    object-fit: cover;
    display: block;
    max-width: 300px;
}

.container .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px 10px 10px;
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.4);
}

.container .overlay {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container .overlay:hover {
    background-color: black;
    color: white;
}